h1 {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
.card {
  padding: 10px;
}
.icon {
  width: 150px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
.main-card {
  text-align: center;
  padding: 5px;
}
.temperature {
  font-weight: bold;
}
.date {
  text-align: right;
  font-size: 30px;
}
.card-title {
  font-weight: bold;
}
.date-time {
  text-align: right;
  float: right;
  font-size: 30px;
  font-weight: 500px;
}
.temperature-a{
  font-size: 50px;
  font-weight:500;
  padding-bottom: 15px;
}
.temperature-b{
font-size: 30px;
font-weight: 500;
}
.unit-buttons{
  display:block;
  margin:0;
  text-align: center;
}
.unit{
  display:inline;
  text-align: center;
  margin:3px;
  padding: 4px 8px 4px 8px;
  background-color: transparent;
  color:black;
  border-radius: 8px;
  border-color: forestgreen;
  border-width: 4px;
  border-style:solid;
  align-items:center;
  font-size: 20px;
  font-weight: bold;
}
.additional-weather{
  text-transform:capitalize;
  font-size: 30px;
  font-weight: 500;
  padding-top: 18px;
}
.wind{
  font-size: 22px;
  font-weight: 500;
}
.humidity{
  text-transform:capitalize;
  font-size: 22px;
  font-weight: 500;
}
.github{
  margin-left:25%;
  display:block;
}