h1 {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
hr{
  margin: 6px;
  
}
.card {
  padding: 0px;
  border:solid !important;
  border-color: rgb(11,84,13) !important;
}
.left-card{
border-width: 6px 3px 6px 6px !important;
}

.right-card{
border-width: 6px 6px 6px 3px !important;
}

.left-column{
  padding-right: 0px !important;
}

.right-column{
  padding-left: 0px !important;
}

.icon {
  width: 160px;
  display: block;
  margin: auto;
  padding-bottom: 0px;
}
.icon-forecast {
  max-width: 88px !important;
  display: block;
  margin: auto;
  padding: 0px;
}
.main-card {
  text-align: center;
  padding: 5px;
}
.temperature {
  font-weight: bold;
}
.date {
  text-align: right;
  font-size: 34px;
  padding-top: 8px;
}
.card-title {
  font-weight: bold;
  font-size: 40px;
}
.date-time {
  text-align: right;
  float: right;
  font-size: 30px;
  font-weight: 500px;
}
.temperature-a{
  font-size: 50px;
  font-weight:500;
  padding-bottom: 0px;
  text-align: center;
}
.temperature-min-max{
font-size: 30px;
font-weight:500;
padding:0px;
color:rgb(104, 95, 95);
text-align: center;
}

.temperature-min-max-forecast{
  font-size: 20px;
  padding-top: 3px;
  text-align: right;
}

.temperature-b{
font-size: 30px;
font-weight: bold;
padding: 10px 0px 10px 0px;
margin: 0px;
}
.unit-buttons{
  display:block;
  margin:0;
  text-align: center;
}
.unit{
  display:inline;
  text-align: center;
  margin:3px;
  padding: 4px 8px 8px 8px;
  background-color: transparent;
  color:black;
  border-radius: 8px;
  border-color: rgb(11,84,13);
  border-width: 4px;
  border-style:solid;
  align-items:center;
  font-size: 20px;
  font-weight: bold;
}
.active{
  border-color:rgb(11,84,13);
  background-color: rgb(11,84,13);
  color: white;
}
.additional-weather{
  text-transform:capitalize;
  font-size: 32px;
  font-weight: 500;
  padding: 12px;
}
.description-forecast{
  text-transform:capitalize;
  font-size: 20px;
  font-weight: 500;
  padding: 2px;
  margin: 4px;
}
.wind{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 5px;
  color:grey;
}
.humidity{
  text-transform:capitalize;
  font-size: 24px;
  font-weight: 500;
  color:grey;
}
.github{
  display:block;
  padding:10px;
  text-align:center;
}
.weekday-forecast{
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
}
.date-forecast{
  font-size:18px;
  text-align: right;
  padding-top: 11px;
  margin-top: 4px;
}
.card-title-forecast{
  font-size: 26px;
  font-weight: bolder;
  padding-bottom: 4px;
  margin: 0px 0px 4px 0px;
}